* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #1F2937;
    color: white;
    
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    list-style-type: none;
    display: flex; 
    flex-direction: row;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 12px;
}

.header {
    display: flex;
    justify-content: space-around; 
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-left,
.header-right {
    flex-shrink: 0; 
}

.banner {
    margin-top: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 78px;
}

.left-banner {
    width: 380px; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
     
}

.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.right-banner {
    width: 380px;
}

.left-banner button{
    padding: 4px 34px;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    width: 120px;
    
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
     
}

.main-top {
    display: flex; 
    flex-direction: column;
    
}

.main-top-content{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
     
}

.main-items img{
    border-radius: 10px;
    border: 2px solid #3882F6;
}

.main-items {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    flex-wrap: wrap;
    
     
}

.main-top-title {
    padding: 30px;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: black;
    
}

.information-header {
    font-size: 36px; 
    color: #1F2937; 
    font-weight: 900;
}
.main-items p{
    color: #1F2937;
}

.signup {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: white;
     
}



.main-bottom {
    display: flex; 
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
     
     
}

.main-bottom-container {
    display: flex; 
    width: 700px;
    flex-direction: column;
    padding: 58px;

}

.main-bottom-thunder {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px;

}

.main-bottom-thunder strong{
    color: black;

}

.qoute-text{
    font-size: 36px; 
    color: #1F2937;
    font-weight: 300;
     
}

.signup {
    flex: 1;
}

.signup-bluebox{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 900px;
    padding: 50px;
    margin: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    
}



.signup-bluebox button{
    padding: 8px 26px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
}


.footer {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;   
    
}

.footer p{
    font-size: 20px;
}
